[user]
	name = Marc Poris
	email = marc.poris@gmail.com
[alias]
	st = status
	vvv = branch -avv
	branches = branch -avv
[color]
	ui = true
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[merge]
	conflictstyle = diff3
[github]
	user = marcp
