[user]
	name = Marc Poris
	email = mporis@airadvice.com
[alias]
	st = status
	vvv = branch -avv
[color]
	ui = true
[core]
	editor = vi
	autocrlf = input
	excludesfile = ~/.gitignore_global
[merge]
	conflictstyle = diff3
[github]
	user = marcp
