[user]
	name = Nick Sinopoli
	email = NSinopoli@gmail.com
[alias]
	st = status
	ci = commit
    co = checkout
[color]
	ui = true
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
[difftool]
	prompt = false
