#include "/home/nick/.colors/b16/base16-railscasts.dark.xresources"

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

Xcursor.theme: Vanilla-DMZ-AA

URxvt*saveLines:	5000
URxvt*geometry:		80x20

URxvt*urgentOnBell: true

!URxvt*font:xft:droid sans mono slashed:size=10.5
!URxvt*boldFont:xft:droid sans mono slashed:size=10.5
!URxvt.font:               xft:DejavuSansMono:pixelsize=12
!URxvt.boldfont:           xft:DejavuSansMono:pixelsize=12:Bold
!URxvt.font:               xft:Inconsolata-dz:pixelsize=14.5
URxvt.font:               xft:DejavuSansMono:pixelsize=12
URxvt.boldfont:           xft:DejavuSansMono:pixelsize=12:Bold
!URxvt.font:              xft:DejavuSansMono:pixelsize=10
!URxvt.boldFont:          xft:DejavuSansMono:style=Bold:size=10
!URxvt*font:              xft:monaco:style=Regular:antialias=true:size=10
!URxvt*boldFont:          xft:monaco:style=Bold:antialias=true:size=10

URxvt.scrollBar: off

URxvt.perl-ext-common:  default,clipboard,keyboard-select

URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.matcher.button:   1
